body{
    width: calc(100vw - 20px);
    max-width: 600px;
    color: white;
    margin: 0 auto;
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
    background-image: url('assets/wallpaper.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0 auto;
}
audio + h1{
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: lightgreen;
    /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); */
    padding: 0;
    background-color: transparent;
}
h1 + h2{
    color: yellow;
    text-align: center;
}
h2{
    text-align: left;
    color: greenyellow;
}
h2 > .heart{
    width: 50px;
    height: 50px;
    margin-bottom: -15px;
}
h3 + h2{
    color: paleturquoise;
}
h1{
    background-color: black;
    padding: 40px 0;
}
.center{
    text-align: center;
}
#potrait{
    width: 100%;
    max-width: 326px;
    max-height: 580px;
    margin: 0 auto;
} 

#potrait > .kiss{
    width: 60px;
    height: 40px;
    position: absolute;
}

#potrait > img{
    width: 100%;
    max-width: 326px;
    max-height: 580px; 
}

.donate{
    width: 150px;
    height: 150px;
}
.smiley{
    width: 50px;
    height: 50px;
}
.footer{
    width: 100vw;
    background-color: white;
    color: yellow;
    position: absolute;
    left: 0;
    background-image: url('assets/windows.png');
}
.footer > img , .yao, .ud{
    width: 60px;
    height: 80px;
    margin: 10px;
}
.row{
    width: 100%;
}